/*************** Reset ****************/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/************* Forside og generel ************/

body {
  background-color: #fcb045;
}

ul {
  list-style: none;
}

.grid-1-1-1 a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(333deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}

.grid-1-1-1 {
  display: grid;
  place-self: center;
  gap: 50px;
  margin: 50px;
  place-items: center;
}

.grid-1-1-1 a:hover {
  text-shadow: white 1px 0 5px;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  margin: 20px;
}
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #fff;
  place-self: center;
  margin-top: 50px;
}

@media (min-width: 840px) {
  .grid-1-1-1 {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
  }

  a {
    font-size: 2rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 3rem;
    margin-top: 150px;
  }
}

/************* Produktliste ************/
img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50px;
  border: solid black 1px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.product-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto auto auto auto;
  gap: 10px;
  margin-bottom: 20px;
}

.product {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 5;
  padding: 10px;
  background: #fff;
}

h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #fcb045;
  padding: 5px;
}

h4 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  color: #fcb045;
  padding: 5px;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  color: #000;
  padding: 15px;
}

a {
  text-decoration: none;
}

.original-pris {
  text-decoration: line-through;
  color: gray;
}

.tilbud-pris {
  color: red;
  font-weight: bold;
}

.badge-udsolgt {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  color: #000;
}

button:disabled {
  background: gray;
  cursor: not-allowed;
  opacity: 0.6;
}

.container h2 {
  margin: 10px;
}

@media (max-width: 840px) {
  .container {
    margin: 50px;
  }

  .product-gallery {
    gap: 10px;
  }

  p {
    padding: 10px;
  }

  h3,
  h4 {
    padding: 5px;
  }

  .container h2 {
    font-size: 2rem;
  }
}

/************** Produkt *********/
.grid-1-1 {
  display: grid;
  background: linear-gradient(333deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  border-radius: 40px;
}

.grid-1-1 h3 {
  color: #fff;
}

.grid-1-1 h4 {
  color: #fff;
  font-weight: lighter;
}

.grid-1-1 p {
  color: #fff;
}

.grid-1-1 button {
  padding: 10px;
}

@media (min-width: 840px) {
  .grid-1-1 {
    display: flex;
    margin: 100px;
    margin-left: 200px;
    margin-right: 200px;
  }

  .grid-1-1 img {
    width: 500px;
    margin: 20px;
  }

  .grid-1-1 h3 {
    font-size: 2.7rem;
    padding-top: 30px;
  }

  .grid-1-1 h4 {
    font-size: 2rem;
    padding-bottom: 30px;
  }

  .grid-1-1 p {
    font-size: 1.2rem;
    padding-top: 30px;
    padding-left: 0;
  }

  .tekst {
    margin: 20px;
  }
}

@media (max-width: 840px) {
  .grid-1-1 {
    place-items: center;
    text-align: center;
    margin: 20px;
    padding: 10px;
  }
  .grid-1-1 img {
    width: 350px;
  }

  .grid-1-1 h3 {
    font-size: 2rem;
    padding-top: 10px;
  }

  .grid-1-1 h4 {
    font-size: 1.5rem;
    padding-bottom: 30px;
  }

  .grid-1-1 p {
    font-size: 1rem;
    padding-top: 10px;
  }
}
